<div class="row">
  <div class="col-sm-12">
    <h1>About</h1>
  </div>
  <div class="col-sm-12">
      <div class="well well-lg">
              <p class="lead">
                  gimpChimp is used by Dark Age of Camelot players to track their character's RvR progression.
                  It allows the user to show all their characters in one place instead of having to look at them all
                  individually. Since most players have more than 1 account, this is a convenient way to group
                  everything together.
              </p>
      </div>

      <div class="panel panel-default" ng-show="changeLog">
          <div class="panel-heading">
              <h3 class="panel-title">Change Log</h3>
          </div>
          <div class="panel-body">
              <dl class="dl-horizontal">
                  <span ng-repeat="item in changeLog | orderBy: 'changeDate': true">
                      <dt>
                          {{item.changeDate | date: 'yyyy-MM-dd'}}
                      </dt>
                      <dd>
                          {{item.changeDesc}}
                      </dd>
                  </span>
              </dl>
          </div>
      </div>

  </div>
</div>
