<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarCtrl">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h4 class="text-muted">gimpChimp</h4>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="col-sm-3 col-md-3 pull-right">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="User Search" name="srch-term" id="srch-term" gc-enter="search()" ng-model="searchStr">
                        <div class="input-group-btn">
                            <!--<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>-->
                            <a href="" ng-click="search()" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></a>>
                        </div>
                    </div>
                </form>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li ng-show="currentUser" ng-class="{active: isActive('/s/' + currentUser.name)}"><a title="View Characters" href="/s/{{currentUser.name}}" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="hidden-xs fa fa-list"></i><span class="visible-xs">View Characters</span></a></li>
                <li ng-show="currentUser" ng-class="{active: isActive('/add')}"><a title="Add Character" href="/add" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="hidden-xs fa fa-plus"></i><span class="visible-xs">Add Character</span></a></li>
                <li ng-show="currentUser" ng-class="{active: isActive('/settings')}"><a title="Settings" href="/settings" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="hidden-xs fa fa-cogs"></i><span class="visible-xs">Settings</span></a></li>
                <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                    <a title={{item.title}} ng-href="{{item.link}}" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="hidden-xs fa {{item.icon}}"></i><span class="visible-xs">{{item.title}}</span></a>
                </li>
                <li ng-hide="currentUser" ng-class="{active: isActive('/login') || isActive('/')}"><a title="Login" href="/login" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="hidden-xs fa fa-sign-in"></i><span class="visible-xs">Login</span></a></li>
                <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a title="Signup" href="/signup" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="hidden-xs fa fa-user"></i><span class="visible-xs">Sign up</span></a></li>
                <li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()" title="Logout" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="hidden-xs fa fa-sign-out"></i><span class="visible-xs">Logout</span></a></li>
            </ul>

        </div>
    </div>
</nav>
