<div class="row">
  <div class="col-sm-12">
    <h1>Password Retrieval</h1>
    <h6>(enter your display ID or email address)</h6>
  </div>
  <div class="col-sm-12">
    <form class="form" name="form" ng-submit="retrievePassword(form)" novalidate>
    	
      <div class="form-group">
        <label>Display ID</label>

        <input type="text" name="name" class="form-control" ng-model="name"/>
      </div>

      <div class="form-group">
        <label>Email</label>

        <input type="email" name="email" class="form-control" ng-model="email"/>
      </div>

      <p class="help-block"> {{ message }} </p>

      <button class="btn btn-lg btn-primary" type="submit">Retrieve</button>
    </form>
  </div>
</div>
